[submodule "elasticsearch_plugin"]
	path = elasticsearch_plugin
	url = https://github.com/EOSLaoMao/elasticsearch_plugin.git
[submodule "kafka_plugin"]
	path = kafka_plugin
	url = https://github.com/TP-Lab/kafka_plugin.git
[submodule "eosio-watcher-plugin"]
	path = eosio-watcher-plugin
	url = https://github.com/eosauthority/eosio-watcher-plugin.git
[submodule "eos_zmq_plugin"]
	path = eos_zmq_plugin
	url = https://github.com/cc32d9/eos_zmq_plugin.git
