[submodule "elasticsearch_plugin"]
	path = elasticsearch_plugin
	url = https://github.com/EOSLaoMao/elasticsearch_plugin.git
[submodule "kafka_plugin"]
	path = kafka_plugin
	url = https://github.com/TP-Lab/kafka_plugin.git
[submodule "eosio-watcher-plugin"]
	path = eosio-watcher-plugin
	url = https://github.com/eosauthority/eosio-watcher-plugin.git
[submodule "eos_zmq_plugin"]
	path = eos_zmq_plugin
	url = https://github.com/cc32d9/eos_zmq_plugin.git
[submodule "eosio_light_api"]
	path = eosio_light_api
	url = https://github.com/cc32d9/eosio_light_api.git
[submodule "chintai-zeromq-watcher-plugin"]
	path = chintai-zeromq-watcher-plugin
	url = https://github.com/acoutts/chintai-zeromq-watcher-plugin.git
[submodule "EOS-state-history-API"]
	path = EOS-state-history-API
	url = https://github.com/acoutts/EOS-state-history-API.git
[submodule "eos-chronicle"]
	path = eos-chronicle
	url = https://github.com/EOSChronicleProject/eos-chronicle.git
[submodule "Hyperion-History-API"]
	path = Hyperion-History-API
	url = https://github.com/eosrio/Hyperion-History-API.git
[submodule "eos-producer-heartbeat-plugin"]
	path = eos-producer-heartbeat-plugin
	url = https://github.com/LiquidEOS/eos-producer-heartbeat-plugin.git
